<h2>Select a metro station</h2>

<div>
    <select (change)="getRestaurantsForStation($event.target.value)">
        <option value="0">Select</option>
        <option *ngFor="let station of stations" value = {{station.id}}>
            {{station.name}}
        </option>
    </select>
</div>
<div>
	<label *ngFor="let rest of restaurants; let i = index">
		<input type="checkbox" [attr.checked]="true">
		{{rest.name}}
	</label>
</div>
<div>
	<ul>
		<li *ngFor="let item of foodItems">
			<span>{{item.name}}</span>
			<button [disabled]="!enableRemove" (click)="decreaseQuantity(item.id, quantityPerItem[item.id].quant)">-</button>
			<input type = "text" style="width:20px;" [(ngModel)]="quantityPerItem[item.id].quant">
			<button (click)="increaseQuantity(item.id, quantityPerItem[item.id].quant)">+</button>
		</li>
	</ul>
</div>