<h2>Select a metro station</h2>

<div>
    <select (change)="getRestaurantsForStation($event.target.value)">
        <option value="0">Select</option>
        <option *ngFor="let station of stations" value = {{station.id}}>
            {{station.name}}
        </option>
    </select>
</div>
<div>
	<label *ngFor="let rest of restaurants; let i = index">
		<input type="checkbox" [disabled]=onlyOneRestaurant [checked]=restCheckbox.get(rest.id) (change)="onRestSelection(rest.id, !restCheckbox.get(rest.id))">
		{{rest.name}}
	</label>
</div>
<div>
	<ul>
		<li *ngFor="let item of foodItems">
			<span>{{item.name}}</span>
			<button [disabled]=disableRemove.get(item.id) (click)="decreaseQuantity(item, quantityPerItem.get(item.id))">-</button>
			<input type = "text" style="width:20px;" [ngModel]="quantityPerItem.get(item.id)">
			<button (click)="increaseQuantity(item, quantityPerItem.get(item.id))">+</button>
		</li>
	</ul>
</div>
<div>
	<ul>
		<li *ngFor="let item of itemsInCart | keyvalue">
			{{item.key.name}} - {{item.key.price}} * {{item.value}}
		</li>
	</ul>
	<span>Total = {{cartTotal}}</span>
</div>
<div>
	<button (click)="onBuyNow()">Buy Now</button>
</div>
