<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	<head>
		<meta charset="UTF-8">
      	<title>Product List</title>
      	<link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
   	</head>
   	<body>
    	<th:block th:include="/_header"></th:block>
      	<th:block th:include="/_menu"></th:block>
       
      	<div class="page-title">Select your item</div>
      
      	<form action="#" th:action="@{/filterItems}" th:object="${foo}" method="POST">
      		<div class="product-preview-container" th:each="restInfo : ${restaurants}">
      			<input type="checkbox" th:field="*{checkedItems}" th:value="${restInfo.name}"/>
      			<label th:for="${#ids.prev('checkedItems')}" th:text="${restInfo.name}"/>
		      	<!-- 
		         <ul>
		            <li>Name: <span th:utext="${restInfo.name}"></span></li>
		         </ul>
		          -->
	      	</div>
			<div>
				<button type="submit" name="ok">OK</button>
			</div>
		</form>
      	<div>
      		<table>
      			<tr th:each="element : ${foodItems}">
      				<td/>
			        <table>
			        	<tr th:each="food : ${element.value}">
			        		<td th:text="${food.name}"/>
			                <td th:text="${food.description}"/>
			                <td th:text="${food.price}"/>
			            </tr>
			        </table>
	    		</tr>
			</table>
	    </div> 
      	<br/>
      	<th:block th:include="/_footer"></th:block>
   	</body>
</html>